# TLC (R)

In [81]:
# Libraries
library(tidyverse)
library(readxl)

Course 2 tasks:

- Load data, explore, and extract the New York City TLC data with Python
- Use custom functions to organize the information within the New York City TLC dataset
- Build a dataframe for the New York City TLC project
- Create an executive summary for Automatidata

In [82]:
df <- read_csv(
    file.path("data/tlc_dataset.csv"),
    col_names = TRUE,
    col_types = NULL
)

New names:
• `` -> `...1`
Rows: 22699 Columns: 18
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (3): tpep_pickup_datetime, tpep_dropoff_datetime, store_and_fwd_flag
dbl (15): ...1, VendorID, passenger_count, trip_distance, RatecodeID, PULoca...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [83]:
# Check df dimensions against documentation
expected_shape <- c(22699, 18)
sapply(seq(length(expected_shape)), \(i) expected_shape[i] == dim(df)[i])

[1] TRUE TRUE

In [84]:
# Row and col number
sprintf("%i rows and %i cols", nrow(df), ncol(df))

[1] "22699 rows and 18 cols"

In [85]:
# Clean col names
df <- janitor::clean_names(df)

In [86]:
# Display the top 10 entries
df |> head(n=10)

   x1        vendor_id tpep_pickup_datetime   tpep_dropoff_datetime
1   24870114 2         03/25/2017 8:55:43 AM  03/25/2017 9:09:47 AM
2   35634249 1         04/11/2017 2:53:28 PM  04/11/2017 3:19:58 PM
3  106203690 1         12/15/2017 7:26:56 AM  12/15/2017 7:34:08 AM
4   38942136 2         05/07/2017 1:17:59 PM  05/07/2017 1:48:14 PM
5   30841670 2         04/15/2017 11:32:20 PM 04/15/2017 11:49:03 PM
6   23345809 2         03/25/2017 8:34:11 PM  03/25/2017 8:42:11 PM
7   37660487 2         05/03/2017 7:04:09 PM  05/03/2017 8:03:47 PM
8   69059411 2         08/15/2017 5:41:06 PM  08/15/2017 6:03:05 PM
9    8433159 2         02/04/2017 4:17:07 PM  02/04/2017 4:29:14 PM
10  95294817 1         11/10/2017 3:20:29 PM  11/10/2017 3:40:55 PM
   passenger_count trip_distance ratecode_id store_and_fwd_flag pu_location_id
1  6                3.34         1           N                  100
2  1                1.80         1           N                  186
3  1                1.00         1           N                  262
4  1                3.70         1           N                  188
5  1                4.37         1           N                    4
6  6                2.30         1           N                  161
7  1               12.83         1           N                   79
8  1                2.98         1           N                  237
9  1                1.20         1           N                  234
10 1                1.60         1           N                  239
   do_location_id payment_type fare_amount extra mta_tax tip_amount
1  231            1            13.0        0.0   0.5     2.76
2   43            1            16.0        0.0   0.5     4.00
3  236            1             6.5        0.0   0.5     1.45
4   97            1            20.5        0.0   0.5     6.39
5  112            2            16.5        0.5   0.5     0.00
6  236            1             9.0        0.5   0.5     2.06
7  241            1            47.5        1.0   0.5     9.86
8  114            1            16.0        1.0   0.5     1.78
9  249            2             9.0        0.0   0.5     0.00
10 237            1            13.0        0.0   0.5     2.75
   tolls_amount improvement_surcharge total_amount
1  0            0.3                   16.56
2  0            0.3                   20.80
3  0            0.3                    8.75
4  0            0.3                   27.69
5  0            0.3                   17.80
6  0            0.3                   12.36
7  0            0.3                   59.16
8  0            0.3                   19.58
9  0            0.3                    9.80
10 0            0.3                   16.55

In [87]:
# Extract col names
df_cols <- colnames(df)
df_cols

 [1] "x1"                    "vendor_id"             "tpep_pickup_datetime"
 [4] "tpep_dropoff_datetime" "passenger_count"       "trip_distance"
 [7] "ratecode_id"           "store_and_fwd_flag"    "pu_location_id"
[10] "do_location_id"        "payment_type"          "fare_amount"
[13] "extra"                 "mta_tax"               "tip_amount"
[16] "tolls_amount"          "improvement_surcharge" "total_amount"

In [88]:
# Survey the df structure
str(df)

spc_tbl_ [22,699 × 18] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ x1                   : num [1:22699] 2.49e+07 3.56e+07 1.06e+08 3.89e+07 3.08e+07 ...
 $ vendor_id            : num [1:22699] 2 1 1 2 2 2 2 2 2 1 ...
 $ tpep_pickup_datetime : chr [1:22699] "03/25/2017 8:55:43 AM" "04/11/2017 2:53:28 PM" "12/15/2017 7:26:56 AM" "05/07/2017 1:17:59 PM" ...
 $ tpep_dropoff_datetime: chr [1:22699] "03/25/2017 9:09:47 AM" "04/11/2017 3:19:58 PM" "12/15/2017 7:34:08 AM" "05/07/2017 1:48:14 PM" ...
 $ passenger_count      : num [1:22699] 6 1 1 1 1 6 1 1 1 1 ...
 $ trip_distance        : num [1:22699] 3.34 1.8 1 3.7 4.37 ...
 $ ratecode_id          : num [1:22699] 1 1 1 1 1 1 1 1 1 1 ...
 $ store_and_fwd_flag   : chr [1:22699] "N" "N" "N" "N" ...
 $ pu_location_id       : num [1:22699] 100 186 262 188 4 161 79 237 234 239 ...
 $ do_location_id       : num [1:22699] 231 43 236 97 112 236 241 114 249 237 ...
 $ payment_type         : num [1:22699] 1 1 1 1 2 1 1 1 2 1 ...
 $ fare_amount          : num [1:22699] 13 16 6.5 20.5 16.5 9 47.5 16 9 13 ...
 $ extra                : num [1:22699] 0 0 0 0 0.5 0.5 1 1 0 0 ...
 $ mta_tax              : num [1:22699] 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 0.5 ...
 $ tip_amount           : num [1:22699] 2.76 4 1.45 6.39 0 2.06 9.86 1.78 0 2.75 ...
 $ tolls_amount         : num [1:22699] 0 0 0 0 0 0 0 0 0 0 ...
 $ improvement_surcharge: num [1:22699] 0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3 0.3 ...
 $ total_amount         : num [1:22699] 16.56 20.8 8.75 27.69 17.8 ...
 - attr(*, "spec")=
  .. cols(
  ..   ...1 = col_double(),
  ..   VendorID = col_double(),
  ..   tpep_pickup_datetime = col_character(),
  ..   tpep_dropoff_datetime = col_character(),
  ..   passenger_count = col_double(),
  ..   trip_distance = col_double(),
  ..   RatecodeID = col_double(),
  ..   store_and_fwd_flag = col_character(),
  ..   PULocationID = col_double(),
  ..   DOLocationID = col_double(),
  ..   payment_type = col_double(),
  ..   fare_amount = col_double(),
  ..   extra = col_double(),
  ..   mta_tax = col_double(),
  ..   tip_amount = col_double(),
  ..   tolls_amount = col_double(),
  ..   improvement_surcharge = col_double(),
  ..   total_amount = col_double()
  .. )
 - attr(*, "problems")=<externalptr>

In [89]:
# Check cols for NAs
lapply(
    df_cols,
    \(c) NA %in% df[c]
)

[[1]]
[1] FALSE

[[2]]
[1] FALSE

[[3]]
[1] FALSE

[[4]]
[1] FALSE

[[5]]
[1] FALSE

[[6]]
[1] FALSE

[[7]]
[1] FALSE

[[8]]
[1] FALSE

[[9]]
[1] FALSE

[[10]]
[1] FALSE

[[11]]
[1] FALSE

[[12]]
[1] FALSE

[[13]]
[1] FALSE

[[14]]
[1] FALSE

[[15]]
[1] FALSE

[[16]]
[1] FALSE

[[17]]
[1] FALSE

[[18]]
[1] FALSE

In [90]:
# Count NAs per col
lapply(
    df_cols,
    \(c) sum(is.na(df[c]))
)

[[1]]
[1] 0

[[2]]
[1] 0

[[3]]
[1] 0

[[4]]
[1] 0

[[5]]
[1] 0

[[6]]
[1] 0

[[7]]
[1] 0

[[8]]
[1] 0

[[9]]
[1] 0

[[10]]
[1] 0

[[11]]
[1] 0

[[12]]
[1] 0

[[13]]
[1] 0

[[14]]
[1] 0

[[15]]
[1] 0

[[16]]
[1] 0

[[17]]
[1] 0

[[18]]
[1] 0

In [91]:
# Survey the summary statistics
df |> summary()

       x1              vendor_id     tpep_pickup_datetime tpep_dropoff_datetime
 Min.   :    12127   Min.   :1.000   Length:22699         Length:22699
 1st Qu.: 28520556   1st Qu.:1.000   Class :character     Class :character
 Median : 56731504   Median :2.000   Mode  :character     Mode  :character
 Mean   : 56758486   Mean   :1.556
 3rd Qu.: 85374524   3rd Qu.:2.000
 Max.   :113486300   Max.   :2.000
 passenger_count trip_distance     ratecode_id     store_and_fwd_flag
 Min.   :0.000   Min.   : 0.000   Min.   : 1.000   Length:22699
 1st Qu.:1.000   1st Qu.: 0.990   1st Qu.: 1.000   Class :character
 Median :1.000   Median : 1.610   Median : 1.000   Mode  :character
 Mean   :1.642   Mean   : 2.913   Mean   : 1.043
 3rd Qu.:2.000   3rd Qu.: 3.060   3rd Qu.: 1.000
 Max.   :6.000   Max.   :33.960   Max.   :99.000
 pu_location_id  do_location_id   payment_type    fare_amount
 Min.   :  1.0   Min.   :  1.0   Min.   :1.000   Min.   :-120.00
 1st Qu.:114.0   1st Qu.:112.0   1st Qu.:1.000   1st Qu.:   6.50
 Median :162.0   Median :162.0   Median :1.000   Median :   9.50
 Mean   :162.4   Mean   :161.5   Mean   :1.337   Mean   :  13.03
 3rd Qu.:233.0   3rd Qu.:233.0   3rd Qu.:2.000   3rd Qu.:  14.50
 Max.   :265.0   Max.   :265.0   Max.   :4.000   Max.   : 999.99
     extra            mta_tax          tip_amount       tolls_amount
 Min.   :-1.0000   Min.   :-0.5000   Min.   :  0.000   Min.   : 0.0000
 1st Qu.: 0.0000   1st Qu.: 0.5000   1st Qu.:  0.000   1st Qu.: 0.0000
 Median : 0.0000   Median : 0.5000   Median :  1.350   Median : 0.0000
 Mean   : 0.3333   Mean   : 0.4974   Mean   :  1.836   Mean   : 0.3125
 3rd Qu.: 0.5000   3rd Qu.: 0.5000   3rd Qu.:  2.450   3rd Qu.: 0.0000
 Max.   : 4.5000   Max.   : 0.5000   Max.   :200.000   Max.   :19.1000
 improvement_surcharge  total_amount
 Min.   :-0.3000       Min.   :-120.30
 1st Qu.: 0.3000       1st Qu.:   8.75
 Median : 0.3000       Median :  11.80
 Mean   : 0.2996       Mean   :  16.31
 3rd Qu.: 0.3000       3rd Qu.:  17.80
 Max.   : 0.3000       Max.   :1200.29

In [92]:
# Survey the trip_distance col
df |>
    arrange(desc(trip_distance)) |>
    head(n=10)

   x1       vendor_id tpep_pickup_datetime   tpep_dropoff_datetime
1  51810714 2         06/18/2017 11:33:25 PM 06/19/2017 12:12:38 AM
2  40523668 2         05/19/2017 8:20:21 AM  05/19/2017 9:20:30 AM
3  49894023 2         06/13/2017 12:30:22 PM 06/13/2017 1:37:51 PM
4  76319330 2         09/11/2017 11:41:04 AM 09/11/2017 12:18:58 PM
5  94052446 2         11/06/2017 8:30:50 PM  11/07/2017 12:00:00 AM
6  90375786 1         10/26/2017 2:45:01 PM  10/26/2017 4:12:49 PM
7  68023798 2         08/11/2017 2:14:01 PM  08/11/2017 3:17:31 PM
8  77309977 2         09/14/2017 1:44:44 PM  09/14/2017 2:34:29 PM
9  43431843 1         05/15/2017 8:11:34 AM  05/15/2017 9:03:16 AM
10 51094874 2         06/16/2017 6:51:20 PM  06/16/2017 7:41:42 PM
   passenger_count trip_distance ratecode_id store_and_fwd_flag pu_location_id
1  2               33.96         5           N                  132
2  1               33.92         5           N                  229
3  1               32.72         3           N                  138
4  1               31.95         4           N                  138
5  1               30.83         1           N                  132
6  1               30.50         1           N                  132
7  1               30.33         2           N                  132
8  1               28.23         2           N                   13
9  1               28.20         2           N                   90
10 1               27.97         2           N                  261
   do_location_id payment_type fare_amount extra mta_tax tip_amount
1  265            2            150.00      0.0   0.0      0.00
2  265            1            200.01      0.0   0.5     51.64
3    1            1            107.00      0.0   0.0     55.50
4  265            2            131.00      0.0   0.5      0.00
5   23            1             80.00      0.5   0.5     18.56
6  220            1             90.50      0.0   0.5     19.85
7  158            1             52.00      0.0   0.5     14.64
8  132            1             52.00      0.0   0.5      4.40
9  132            1             52.00      0.0   0.5     11.71
10 132            2             52.00      4.5   0.5      0.00
   tolls_amount improvement_surcharge total_amount
1   0.00        0.3                   150.30
2   5.76        0.3                   258.21
3  16.26        0.3                   179.06
4   0.00        0.3                   131.80
5  11.52        0.3                   111.38
6   8.16        0.3                   119.31
7   5.76        0.3                    73.20
8   5.76        0.3                    62.96
9   5.76        0.3                    70.27
10  5.76        0.3                    63.06

In [93]:
# Sort by the total_amount col
df |>
    arrange(total_amount) |>
    tail(n=10)

   x1        vendor_id tpep_pickup_datetime   tpep_dropoff_datetime
1   51810714 2         06/18/2017 11:33:25 PM 06/19/2017 12:12:38 AM
2   51920669 1         06/19/2017 12:51:17 AM 06/19/2017 12:52:12 AM
3  111653084 1         01/01/2017 11:53:01 PM 01/01/2017 11:53:42 PM
4  101198443 2         11/30/2017 10:41:11 AM 11/30/2017 11:31:45 AM
5   49894023 2         06/13/2017 12:30:22 PM 06/13/2017 1:37:51 PM
6   55538852 2         06/06/2017 8:55:01 PM  06/06/2017 8:55:06 PM
7  107108848 2         12/17/2017 6:24:24 PM  12/17/2017 6:24:42 PM
8   40523668 2         05/19/2017 8:20:21 AM  05/19/2017 9:20:30 AM
9  107558404 2         12/19/2017 9:40:46 AM  12/19/2017 9:40:55 AM
10  11157412 1         02/06/2017 5:50:10 AM  02/06/2017 5:51:08 AM
   passenger_count trip_distance ratecode_id store_and_fwd_flag pu_location_id
1  2               33.96         5           N                  132
2  2                0.00         5           N                  265
3  1                7.30         5           N                    1
4  1               25.50         5           N                  132
5  1               32.72         3           N                  138
6  1                0.00         5           N                  265
7  1                0.00         5           N                  265
8  1               33.92         5           N                  229
9  2                0.00         5           N                  265
10 1                2.60         5           N                  226
   do_location_id payment_type fare_amount extra mta_tax tip_amount
1  265            2            150.00      0     0.0       0.00
2  265            1            120.00      0     0.0      20.00
3    1            1            152.00      0     0.0       0.00
4  265            2            140.00      0     0.5       0.00
5    1            1            107.00      0     0.0      55.50
6  265            1            200.00      0     0.5      11.00
7  265            1            175.00      0     0.0      46.69
8  265            1            200.01      0     0.5      51.64
9  265            2            450.00      0     0.0       0.00
10 226            1            999.99      0     0.0     200.00
   tolls_amount improvement_surcharge total_amount
1   0.00        0.3                    150.30
2  11.52        0.3                    151.82
3   0.00        0.3                    152.30
4  16.26        0.3                    157.06
5  16.26        0.3                    179.06
6   0.00        0.3                    211.80
7  11.75        0.3                    233.74
8   5.76        0.3                    258.21
9   0.00        0.3                    450.30
10  0.00        0.3                   1200.29

In [94]:
# Find the total_amount col index
total_amount_index <- which(colnames(df) == "total_amount")
col_number <- ncol(df)

cat("total_amount col index:\n")
sprintf("%i out of %i", total_amount_index, col_number)

total_amount col index:

[1] "18 out of 18"

In [95]:
# Find col containing "payment"
payment_col_mask <- str_detect(df_cols, "payment")
payment_col <- df[payment_col_mask]

# Find the unique values
payment_unique <- unique(unlist(payment_col, use.names = FALSE))

# Count the unique values
length(payment_unique)

[1] 4

In [104]:
# How many of each payment type are represented in the data?

payment_key <- "1 = Credit card
2 = Cash
3 = No charge
4 = Dispute
5 = Unknown
6 = Voided trip"

# Extract the keys (numbers)
payment_codes <- str_extract_all(payment_key, "\\d+")[[1]] |>
    as.integer()

# Extract the values
payment_types <- str_extract_all(payment_key, "(?<= = )[a-zA-Z ]+")[[1]] |>
    str_trim()

# Construct a referable key for later reference
payment_key_list <- as.list(payment_types)
names(payment_key_list) <- payment_codes

# Log all present payment types
for (i in seq_along(payment_codes)) {
    pay_code <- payment_codes[i]
    pay_type <- payment_types[i]

    if (pay_code %in% payment_unique) {
        print(
            paste0(pay_type, " is present in the dataset.")
        )
    }
}

[1] "Credit card is present in the dataset."
[1] "Cash is present in the dataset."
[1] "No charge is present in the dataset."
[1] "Dispute is present in the dataset."

In [97]:
# What is the average tip for trips paid for with credit card?

    # Construct a vector key
payment_key_vec <- setNames(
    as.vector(payment_types),
    as.vector(payment_codes)
)

    # Recode payment type vals
df_recoded <- df |>
    group_by(payment_type) |>
    mutate(
        payment_type = payment_key_vec[as.character(payment_type)]
    ) 

    # Group and average
tip_avgs <- df_recoded |>
    summarise(
        avg_tip = mean(tip_amount),
        .groups = "drop"
    )

tip_avgs

  payment_type avg_tip
2 Cash         0.0000
1 Credit card  2.7298
4 Dispute      0.0000
3 No charge    0.0000

In [98]:
# Payment type counts
df_recoded |>
    count(payment_type)

  payment_type n
2 Cash          7267
1 Credit card  15265
4 Dispute         46
3 No charge      121

In [99]:
# What is the average tip for trips paid for with cash?
tip_avgs |>
    filter(payment_type == "Cash")

  payment_type avg_tip
2 Cash         0

In [100]:
# How many times is each vendor ID represented in the data?
df |>
    count(vendor_id)

  vendor_id n
1 1         10073
2 2         12626

In [101]:
# What is the mean total amount for each vendor?
df |>
    group_by(vendor_id) |>
    summarise(
        mean_total = mean(total_amount),
        .groups = "drop"
    )

  vendor_id mean_total
1 1         16.29812
2 2         16.32038

In [102]:
# Filter the data for credit card payments only
df_filtered <- df_recoded |>
    filter(payment_type == "Credit card")

df_filtered |> head(n=5)

  x1        vendor_id tpep_pickup_datetime  tpep_dropoff_datetime
1  24870114 2         03/25/2017 8:55:43 AM 03/25/2017 9:09:47 AM
2  35634249 1         04/11/2017 2:53:28 PM 04/11/2017 3:19:58 PM
3 106203690 1         12/15/2017 7:26:56 AM 12/15/2017 7:34:08 AM
4  38942136 2         05/07/2017 1:17:59 PM 05/07/2017 1:48:14 PM
5  23345809 2         03/25/2017 8:34:11 PM 03/25/2017 8:42:11 PM
  passenger_count trip_distance ratecode_id store_and_fwd_flag pu_location_id
1 6               3.34          1           N                  100
2 1               1.80          1           N                  186
3 1               1.00          1           N                  262
4 1               3.70          1           N                  188
5 6               2.30          1           N                  161
  do_location_id payment_type fare_amount extra mta_tax tip_amount tolls_amount
1 231            Credit card  13.0        0.0   0.5     2.76       0
2  43            Credit card  16.0        0.0   0.5     4.00       0
3 236            Credit card   6.5        0.0   0.5     1.45       0
4  97            Credit card  20.5        0.0   0.5     6.39       0
5 236            Credit card   9.0        0.5   0.5     2.06       0
  improvement_surcharge total_amount
1 0.3                   16.56
2 0.3                   20.80
3 0.3                    8.75
4 0.3                   27.69
5 0.3                   12.36

In [103]:
# Calculate the average tip amount for each passenger count (credit card payments only)
df_filtered |>
    group_by(passenger_count) |>
    summarise(
        avg_tip = mean(tip_amount)
    )

  passenger_count avg_tip
1 0               2.610370
2 1               2.714681
3 2               2.829949
4 3               2.726800
5 4               2.607753
6 5               2.762645
7 6               2.643326