# TikTok (R)

In [29]:
# Libraries
library(tidyverse)
library(readxl)

Course 2 tasks:

- Build a dataframe for the TikTok dataset
- Read in data from TikTok csv file
- Display rows within dataframe
- Examine data type of each column
- Gather descriptive statistics
- Visualize the TikTok data in Python
- Report to TikTok’s data team through an executive summary

In [30]:
df <- read_csv(
    file.path(r"(data/tiktok_dataset.csv)"),
    col_names = TRUE,
    col_types = NULL
)

Rows: 19382 Columns: 12
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (9): claim_status, video_transcription_text, verified_status, author_ban...
dbl (3): #, video_id, video_duration_sec

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [31]:
# Check df dimensions
expected_shape <- c(19382, 12)
sapply(seq(length(expected_shape)), \(i) expected_shape[i] == dim(df)[i])

[1] TRUE TRUE

In [32]:
# Inspect the first 10 rows
df |> head(n=10)

   #  claim_status video_id   video_duration_sec
1   1 claim        7017666017 59
2   2 claim        4014381136 32
3   3 claim        9859838091 31
4   4 claim        1866847991 25
5   5 claim        7105231098 19
6   6 claim        8972200955 35
7   7 claim        4958886992 16
8   8 claim        2270982263 41
9   9 claim        5235769692 50
10 10 claim        4660861094 45
   video_transcription_text
1  someone shared with me that drone deliveries are already happening and will become common by 2025
2  someone shared with me that there are more microorganisms in one teaspoon of soil than people on the planet
3  someone shared with me that american industrialist andrew carnegie had a net worth of $475 million usd, worth over $300 billion usd today
4  someone shared with me that the metro of st. petersburg, with an average depth of hundred meters, is the deepest metro in the world
5  someone shared with me that the number of businesses allowing employees to bring pets to the workplace has grown by 6% worldwide
6  someone shared with me that gross domestic product (gdp) is the best financial indicator of a country's overall trade potential
7  someone shared with me that elvis presley has sold more records than the music band the beatles
8  someone shared with me that the best selling single of all time is "white christmas" by bing crosby
9  someone shared with me that about half of the world's population can access the web via a mobile device
10 someone shared with me that it would take a 50 petabyte drive to store every written work ever created
   verified_status author_ban_status video_view_count video_like_count
1  not verified    under review      343296           19425
2  not verified    active            140877           77355
3  not verified    active            902185           97690
4  not verified    active            437506           239954
5  not verified    active            56167            34987
6  not verified    under review      336647           175546
7  not verified    active            750345           486192
8  not verified    active            547532           1072
9  not verified    active            24819            10160
10 verified        active            931587           171051
   video_share_count video_download_count video_comment_count
1  241               1                    0
2  19034             1161                 684
3  2858              833                  329
4  34812             1234                 584
5  4110              547                  152
6  62303             4293                 1857
7  193911            8616                 5446
8  50                22                   11
9  1050              53                   27
10 67739             4104                 2540

In [33]:
# Examine the structure
df |> str()

spc_tbl_ [19,382 × 12] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ #                       : num [1:19382] 1 2 3 4 5 6 7 8 9 10 ...
 $ claim_status            : chr [1:19382] "claim" "claim" "claim" "claim" ...
 $ video_id                : num [1:19382] 7.02e+09 4.01e+09 9.86e+09 1.87e+09 7.11e+09 ...
 $ video_duration_sec      : num [1:19382] 59 32 31 25 19 35 16 41 50 45 ...
 $ video_transcription_text: chr [1:19382] "someone shared with me that drone deliveries are already happening and will become common by 2025" "someone shared with me that there are more microorganisms in one teaspoon of soil than people on the planet" "someone shared with me that american industrialist andrew carnegie had a net worth of $475 million usd, worth o"| __truncated__ "someone shared with me that the metro of st. petersburg, with an average depth of hundred meters, is the deepes"| __truncated__ ...
 $ verified_status         : chr [1:19382] "not verified" "not verified" "not verified" "not verified" ...
 $ author_ban_status       : chr [1:19382] "under review" "active" "active" "active" ...
 $ video_view_count        : chr [1:19382] "343296" "140877" "902185" "437506" ...
 $ video_like_count        : chr [1:19382] "19425" "77355" "97690" "239954" ...
 $ video_share_count       : chr [1:19382] "241" "19034" "2858" "34812" ...
 $ video_download_count    : chr [1:19382] "1" "1161" "833" "1234" ...
 $ video_comment_count     : chr [1:19382] "0" "684" "329" "584" ...
 - attr(*, "spec")=
  .. cols(
  ..   `#` = col_double(),
  ..   claim_status = col_character(),
  ..   video_id = col_double(),
  ..   video_duration_sec = col_double(),
  ..   video_transcription_text = col_character(),
  ..   verified_status = col_character(),
  ..   author_ban_status = col_character(),
  ..   video_view_count = col_character(),
  ..   video_like_count = col_character(),
  ..   video_share_count = col_character(),
  ..   video_download_count = col_character(),
  ..   video_comment_count = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

In [34]:
# Clean the cols
df <- df |>
    janitor::clean_names()
df |> colnames()

 [1] "number"                   "claim_status"
 [3] "video_id"                 "video_duration_sec"
 [5] "video_transcription_text" "verified_status"
 [7] "author_ban_status"        "video_view_count"
 [9] "video_like_count"         "video_share_count"
[11] "video_download_count"     "video_comment_count"

In [35]:
# Fix data types
df <- df |>
    mutate(
        across(
            .cols = ends_with("count"),
            .fns = ~ as.numeric(.x)
        )
    )

Warning message:
"There were 5 warnings in `mutate()`.
The first warning was:
ℹ In argument: `across(.cols = ends_with("count"), .fns = ~as.numeric(.x))`.
Caused by warning:
! NAs introduced by coercion
ℹ Run `dplyr::last_dplyr_warnings()` to see the 4 remaining warnings."

In [43]:
# Inspect NAs
df |>
    select(ends_with("count")) |>
    summarise(
        across(
            .cols = everything(),
            .fns = ~sum(is.na(.x))
        )
    )

  video_view_count video_like_count video_share_count video_download_count
1 298              298              298               298
  video_comment_count
1 298

In [49]:
# Inspect the summary stats
df |> summary()

     number      claim_status          video_id         video_duration_sec
 Min.   :    1   Length:19382       Min.   :1.235e+09   Min.   : 5.00
 1st Qu.: 4846   Class :character   1st Qu.:3.430e+09   1st Qu.:18.00
 Median : 9692   Mode  :character   Median :5.619e+09   Median :32.00
 Mean   : 9692                      Mean   :5.627e+09   Mean   :32.42
 3rd Qu.:14537                      3rd Qu.:7.844e+09   3rd Qu.:47.00
 Max.   :19382                      Max.   :1.000e+10   Max.   :60.00

 video_transcription_text verified_status    author_ban_status
 Length:19382             Length:19382       Length:19382
 Class :character         Class :character   Class :character
 Mode  :character         Mode  :character   Mode  :character




 video_view_count video_like_count   video_share_count video_download_count
 Min.   :    20   Min.   :     0.0   Min.   :     0    Min.   :    0
 1st Qu.:  4942   1st Qu.:   810.8   1st Qu.:   115    1st Qu.:    7
 Median :  9954   Median :  3403.5   Median :   717    Median :   46
 Mean   :254709   Mean   : 84304.6   Mean   : 16735    Mean   : 1049
 3rd Qu.:504327   3rd Qu.:125020.0   3rd Qu.: 18222    3rd Qu.: 1156
 Max.   :999817   Max.   :657830.0   Max.   :256130    Max.   :14994
 NA's   :298      NA's   :298        NA's   :298       NA's   :298
 video_comment_count
 Min.   :   0.0
 1st Qu.:   1.0
 Median :   9.0
 Mean   : 349.3
 3rd Qu.: 292.0
 Max.   :9599.0
 NA's   :298

In [52]:
# What are the different values for claim status and how many of each are in the data?
df |>
    count(claim_status)

  claim_status n
1 claim        9608
2 opinion      9476
3 NA            298

In [58]:
# What is the average view count of videos with each status?
df |>
    group_by(claim_status) |>
    summarise(avg_status_count = mean(video_view_count)) |>
    ungroup()

  claim_status avg_status_count
1 claim        501029.453
2 opinion        4956.432
3 NA                   NA

In [59]:
# What is the average view count of videos with "opinion" status?
df |>
    group_by(claim_status) |>
    summarise(avg_status_count = mean(video_view_count)) |>
    filter(claim_status  == "opinion") |>
    ungroup()

  claim_status avg_status_count
1 opinion      4956.432

In [60]:
# Get counts for each group combination of claim status and author ban status
df |>
    group_by(claim_status) |>
    count(author_ban_status) |>
    ungroup()

  claim_status author_ban_status n
1 claim        active            6566
2 claim        banned            1439
3 claim        under review      1603
4 opinion      active            8817
5 opinion      banned             196
6 opinion      under review       463
7 NA           active             280
8 NA           banned               4
9 NA           under review        14

In [64]:
# What's the median video share count of each author ban status?
df |>
    group_by(author_ban_status) |>
    summarise(
        median_share_count = median(video_share_count, na.rm = TRUE)
    ) |>
    ungroup()

  author_ban_status median_share_count
1 active              437
2 banned            14468
3 under review       9444

In [79]:
# Count, mean median by ban status
df |>
    group_by(author_ban_status) |>
    summarise(
        across(
            .cols = c(video_view_count, video_like_count, video_share_count),
            .fns = list(
                count = ~n(),
                mean = ~mean(.x, na.rm = TRUE),
                median = ~median(.x, na.rm = TRUE)
            )
        )
    ) |>
    ungroup()

  author_ban_status video_view_count_count video_view_count_mean
1 active            15663                  215927.0
2 banned             1639                  445845.4
3 under review       2080                  392204.8
  video_view_count_median video_like_count_count video_like_count_mean
1   8616.0                15663                   71036.53
2 448201.0                 1639                  153017.24
3 365245.5                 2080                  128718.05
  video_like_count_median video_share_count_count video_share_count_mean
1   2222.0                15663                   14111.47
2 105573.0                 1639                   29998.94
3  71204.5                 2080                   25774.70
  video_share_count_median
1   437
2 14468
3  9444

In [ ]:
# Create a likes/comments/shares_per_view column
ratio_cols <- c("likes_per_view", "comments_per_view", "shares_per_view")

for (col in ratio_cols) {
    key_term <- str_extract(col, "^[a-z]+(?=s)")
    source_col <- paste0("video_", key_term, "_count")

    df[col] <- df[source_col] / df["video_view_count"]
}

df[ratio_cols] |> head(n=15)

   likes_per_view comments_per_view shares_per_view
1  0.056583823    0.000000e+00      7.020181e-04
2  0.549096020    4.855299e-03      1.351108e-01
3  0.108281561    3.646702e-04      3.167865e-03
4  0.548458764    1.334839e-03      7.956919e-02
5  0.622910250    2.706215e-03      7.317464e-02
6  0.521454224    5.516164e-03      1.850692e-01
7  0.647957939    7.257995e-03      2.584291e-01
8  0.001957876    2.009015e-05      9.131886e-05
9  0.409363794    1.087876e-03      4.230630e-02
10 0.183612481    2.726530e-03      7.271355e-02
11 0.342173621    5.433837e-04      3.315216e-02
12 0.348736428    1.103629e-03      4.039863e-02
13 0.620735315    2.015481e-03      1.399767e-01
14 0.534843522    8.658847e-04      1.666339e-01
15 0.253211855    1.024294e-03      8.695402e-02

In [80]:
# Summary stats for the new cols
df |>
    group_by(claim_status, author_ban_status) |>
    summarise(
        across(
            .cols = all_of(ratio_cols),
            .fns = list(
                count = ~n(),
                mean = ~mean(.x, na.rm = TRUE),
                median = ~median(.x, na.rm = TRUE)
            )
        )
    ) |>
    ungroup()

`summarise()` has grouped output by 'claim_status'. You can override using the
`.groups` argument.

  claim_status author_ban_status likes_per_view_count likes_per_view_mean
1 claim        active            6566                 0.3295420
2 claim        banned            1439                 0.3450706
3 claim        under review      1603                 0.3279967
4 opinion      active            8817                 0.2197435
5 opinion      banned             196                 0.2068684
6 opinion      under review       463                 0.2263944
7 NA           active             280                       NaN
8 NA           banned               4                       NaN
9 NA           under review        14                       NaN
  likes_per_view_median comments_per_view_count comments_per_view_mean
1 0.3265381             6566                    0.0013926289
2 0.3589087             1439                    0.0013771889
3 0.3208674             1603                    0.0013670879
4 0.2183303             8817                    0.0005170828
5 0.1984830              196                    0.0004343612
6 0.2280508              463                    0.0005355554
7        NA              280                             NaN
8        NA                4                             NaN
9        NA               14                             NaN
  comments_per_view_median shares_per_view_count shares_per_view_mean
1 0.0007755095             6566                  0.06545579
2 0.0007456234             1439                  0.06789342
3 0.0007888666             1603                  0.06573347
4 0.0002517623             8817                  0.04372857
5 0.0001927651              196                  0.04053072
6 0.0002926116              463                  0.04447242
7           NA              280                         NaN
8           NA                4                         NaN
9           NA               14                         NaN
  shares_per_view_median
1 0.04927911
2 0.05160571
3 0.04996660
4 0.03240497
5 0.03072761
6 0.03502682
7         NA
8         NA
9         NA