# Waze (R)

In [162]:
# Libraries
library(tidyverse)
library(readxl)

Course 2 tasks:

- Import data
- Create a dataframe 
- Inspect data 
- Identify outliers
- Create a data visualization
- Share an executive summary with the Waze data team

In [163]:
df <- read_csv(
    file.path(r"(data/waze_dataset.csv)"),
    col_names = TRUE,
    col_types = NULL
)

Rows: 14999 Columns: 13
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr  (2): label, device
dbl (11): ID, sessions, drives, total_sessions, n_days_after_onboarding, tot...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [164]:
# Check df dimensions
expected_shape <- c(14999, 13)
sapply(seq(length(expected_shape)), \(i) expected_shape[i] == dim(df)[i])

[1] TRUE TRUE

In [165]:
# View the top rows
df |> head(n=10)

   ID label    sessions drives total_sessions n_days_after_onboarding
1  0  retained 283      226    296.74827      2276
2  1  retained 133      107    326.89660      1225
3  2  retained 114       95    135.52293      2651
4  3  retained  49       40     67.58922        15
5  4  retained  84       68    168.24702      1562
6  5  retained 113      103    279.54444      2637
7  6  retained   3        2    236.72531       360
8  7  retained  39       35    176.07284      2999
9  8  retained  57       46    183.53202       424
10 9  churned   84       68    244.80211      2997
   total_navigations_fav1 total_navigations_fav2 driven_km_drives
1  208                     0                      2628.8451
2   19                    64                     13715.9206
3    0                     0                      3059.1488
4  322                     7                       913.5911
5  166                     5                      3950.2020
6    0                     0                       901.2387
7  185                    18                      5249.1728
8    0                     0                      7892.0525
9    0                    26                      2651.7098
10  72                     0                      6043.4603
   duration_minutes_drives activity_days driving_days device
1  1985.7751               28            19           Android
2  3160.4729               13            11           iPhone
3  1610.7359               14             8           Android
4   587.1965                7             3           iPhone
5  1219.5559               27            18           Android
6   439.1014               15            11           iPhone
7   726.5772               28            23           iPhone
8  2466.9817               22            20           iPhone
9  1594.3430               25            20           Android
10 2341.8385                7             3           iPhone

In [166]:
# Inspect the structure
df |> str()

spc_tbl_ [14,999 × 13] (S3: spec_tbl_df/tbl_df/tbl/data.frame)
 $ ID                     : num [1:14999] 0 1 2 3 4 5 6 7 8 9 ...
 $ label                  : chr [1:14999] "retained" "retained" "retained" "retained" ...
 $ sessions               : num [1:14999] 283 133 114 49 84 113 3 39 57 84 ...
 $ drives                 : num [1:14999] 226 107 95 40 68 103 2 35 46 68 ...
 $ total_sessions         : num [1:14999] 296.7 326.9 135.5 67.6 168.2 ...
 $ n_days_after_onboarding: num [1:14999] 2276 1225 2651 15 1562 ...
 $ total_navigations_fav1 : num [1:14999] 208 19 0 322 166 0 185 0 0 72 ...
 $ total_navigations_fav2 : num [1:14999] 0 64 0 7 5 0 18 0 26 0 ...
 $ driven_km_drives       : num [1:14999] 2629 13716 3059 914 3950 ...
 $ duration_minutes_drives: num [1:14999] 1986 3160 1611 587 1220 ...
 $ activity_days          : num [1:14999] 28 13 14 7 27 15 28 22 25 7 ...
 $ driving_days           : num [1:14999] 19 11 8 3 18 11 23 20 20 3 ...
 $ device                 : chr [1:14999] "Android" "iPhone" "Android" "iPhone" ...
 - attr(*, "spec")=
  .. cols(
  ..   ID = col_double(),
  ..   label = col_character(),
  ..   sessions = col_double(),
  ..   drives = col_double(),
  ..   total_sessions = col_double(),
  ..   n_days_after_onboarding = col_double(),
  ..   total_navigations_fav1 = col_double(),
  ..   total_navigations_fav2 = col_double(),
  ..   driven_km_drives = col_double(),
  ..   duration_minutes_drives = col_double(),
  ..   activity_days = col_double(),
  ..   driving_days = col_double(),
  ..   device = col_character()
  .. )
 - attr(*, "problems")=<externalptr>

In [167]:
# Isolate rows with null values
df_filtered_null <- df |>
    filter(if_any(everything(), is.na))

df_filtered_null |> head(n=10)

   ID  label sessions drives total_sessions n_days_after_onboarding
1   77 NA     63       50    133.10416       783
2   80 NA    116       93    436.06018      1584
3   98 NA     78       64    583.49279      3414
4  111 NA    106      102    113.37906      2228
5  142 NA     32       26    222.12931       208
6  162 NA      3        3     17.25022      3203
7  176 NA    283      226    529.53394      1110
8  199 NA     27       23    196.83961      2800
9  266 NA     70       58    137.15128      3264
10 283 NA    170      137    354.29766       869
   total_navigations_fav1 total_navigations_fav2 driven_km_drives
1  201                     0                      2649.016
2  283                    62                      4183.410
3    0                     0                      1811.141
4   14                     0                      2817.482
5   55                    10                      2459.816
6   22                     0                     11819.366
7    6                     0                      3028.601
8  156                     0                     11579.565
9   45                     0                      1305.947
10  18                    25                      3914.401
   duration_minutes_drives activity_days driving_days device
1  1517.2100               19            13           iPhone
2  3121.8900               18            15           iPhone
3   642.1891               12            11           Android
4  2011.7243               17            13           Android
5   874.4276               11             7           iPhone
6  3351.0196                3             0           iPhone
7  2489.6970               17            11           iPhone
8  3373.4826               23            18           iPhone
9   996.3944               21            18           Android
10 2500.2670                3             2           Android

In [168]:
# Display summary stats of rows with null values
df_filtered_null |>
    summary()

       ID           label              sessions          drives
 Min.   :   77   Length:700         Min.   :  0.00   Min.   :  0.0
 1st Qu.: 3744   Class :character   1st Qu.: 23.00   1st Qu.: 20.0
 Median : 7443   Mode  :character   Median : 56.00   Median : 47.5
 Mean   : 7406                      Mean   : 80.84   Mean   : 67.8
 3rd Qu.:11007                      3rd Qu.:112.25   3rd Qu.: 94.0
 Max.   :14993                      Max.   :556.00   Max.   :445.0
 total_sessions     n_days_after_onboarding total_navigations_fav1
 Min.   :   5.583   Min.   :  16            Min.   :   0.0
 1st Qu.:  94.056   1st Qu.: 869            1st Qu.:   4.0
 Median : 177.256   Median :1650            Median :  62.5
 Mean   : 198.483   Mean   :1709            Mean   : 118.7
 3rd Qu.: 266.058   3rd Qu.:2509            3rd Qu.: 169.2
 Max.   :1076.880   Max.   :3498            Max.   :1096.0
 total_navigations_fav2 driven_km_drives  duration_minutes_drives
 Min.   :  0.00         Min.   :  290.1   Min.   :  66.59
 1st Qu.:  0.00         1st Qu.: 2119.3   1st Qu.: 779.01
 Median : 10.00         Median : 3421.2   Median :1414.97
 Mean   : 30.37         Mean   : 3936.0   Mean   :1795.12
 3rd Qu.: 43.00         3rd Qu.: 5166.1   3rd Qu.:2443.96
 Max.   :352.00         Max.   :15135.4   Max.   :9746.25
 activity_days    driving_days      device
 Min.   : 0.00   Min.   : 0.00   Length:700
 1st Qu.: 8.00   1st Qu.: 6.00   Class :character
 Median :15.00   Median :12.00   Mode  :character
 Mean   :15.38   Mean   :12.13
 3rd Qu.:23.00   3rd Qu.:18.00
 Max.   :31.00   Max.   :30.00

In [169]:
# Isolate rows without null values
df_filtered_nonnull <- df |>
    filter(!if_any(everything(), is.na))

df_filtered_nonnull |> head(n=10)

   ID label    sessions drives total_sessions n_days_after_onboarding
1  0  retained 283      226    296.74827      2276
2  1  retained 133      107    326.89660      1225
3  2  retained 114       95    135.52293      2651
4  3  retained  49       40     67.58922        15
5  4  retained  84       68    168.24702      1562
6  5  retained 113      103    279.54444      2637
7  6  retained   3        2    236.72531       360
8  7  retained  39       35    176.07284      2999
9  8  retained  57       46    183.53202       424
10 9  churned   84       68    244.80211      2997
   total_navigations_fav1 total_navigations_fav2 driven_km_drives
1  208                     0                      2628.8451
2   19                    64                     13715.9206
3    0                     0                      3059.1488
4  322                     7                       913.5911
5  166                     5                      3950.2020
6    0                     0                       901.2387
7  185                    18                      5249.1728
8    0                     0                      7892.0525
9    0                    26                      2651.7098
10  72                     0                      6043.4603
   duration_minutes_drives activity_days driving_days device
1  1985.7751               28            19           Android
2  3160.4729               13            11           iPhone
3  1610.7359               14             8           Android
4   587.1965                7             3           iPhone
5  1219.5559               27            18           Android
6   439.1014               15            11           iPhone
7   726.5772               28            23           iPhone
8  2466.9817               22            20           iPhone
9  1594.3430               25            20           Android
10 2341.8385                7             3           iPhone

In [170]:
# Display summary stats of rows without null values
df_filtered_nonnull |> 
    summary()

       ID           label              sessions          drives
 Min.   :    0   Length:14299       Min.   :  0.00   Min.   :  0.00
 1st Qu.: 3750   Class :character   1st Qu.: 23.00   1st Qu.: 20.00
 Median : 7504   Mode  :character   Median : 56.00   Median : 48.00
 Mean   : 7504                      Mean   : 80.62   Mean   : 67.26
 3rd Qu.:11258                      3rd Qu.:111.00   3rd Qu.: 93.00
 Max.   :14998                      Max.   :743.00   Max.   :596.00
 total_sessions      n_days_after_onboarding total_navigations_fav1
 Min.   :   0.2202   Min.   :   4.0          Min.   :   0.0
 1st Qu.:  90.4577   1st Qu.: 878.5          1st Qu.:  10.0
 Median : 158.7186   Median :1749.0          Median :  71.0
 Mean   : 189.5474   Mean   :1751.8          Mean   : 121.7
 3rd Qu.: 253.5404   3rd Qu.:2627.5          3rd Qu.: 178.0
 Max.   :1216.1546   Max.   :3500.0          Max.   :1236.0
 total_navigations_fav2 driven_km_drives   duration_minutes_drives
 Min.   :  0.00         Min.   :   60.44   Min.   :   18.28
 1st Qu.:  0.00         1st Qu.: 2217.32   1st Qu.:  840.18
 Median :  9.00         Median : 3496.55   Median : 1479.39
 Mean   : 29.64         Mean   : 4044.40   Mean   : 1864.20
 3rd Qu.: 43.00         3rd Qu.: 5299.97   3rd Qu.: 2466.93
 Max.   :415.00         Max.   :21183.40   Max.   :15851.73
 activity_days    driving_days      device
 Min.   : 0.00   Min.   : 0.00   Length:14299
 1st Qu.: 8.00   1st Qu.: 5.00   Class :character
 Median :16.00   Median :12.00   Mode  :character
 Mean   :15.54   Mean   :12.18
 3rd Qu.:23.00   3rd Qu.:19.00
 Max.   :31.00   Max.   :30.00

In [171]:
# Get count of null values by device
df_null <- df |>
    group_by(device) |>
    summarise(
        across(
                .cols = everything(),
                .fns = ~sum(is.na(.x))
            )
        ) |>
    ungroup()
df_null

  device  ID label sessions drives total_sessions n_days_after_onboarding
1 Android 0  253   0        0      0              0
2 iPhone  0  447   0        0      0              0
  total_navigations_fav1 total_navigations_fav2 driven_km_drives
1 0                      0                      0
2 0                      0                      0
  duration_minutes_drives activity_days driving_days
1 0                       0             0
2 0                       0             0

In [172]:
# Calculate % of iPhone nulls and Android nulls
df_null |>
    rowwise() |>
    mutate(
        null_sum = sum(c_across(where(is.numeric)), na.rm = TRUE)
        # null_sum = rowSums(across(where(is.numeric)), na.rm = TRUE) # Without rowwise()
    ) |>
    ungroup() |>
    select(device, null_sum) |>
    mutate(null_sum = null_sum / sum(null_sum))

  device  null_sum
1 Android 0.3614286
2 iPhone  0.6385714

In [173]:
# Filter out NaNs to obtain a balanced df
df_balanced <- df |>
    drop_na() |>
    print()

# A tibble: 14,299 × 13
      ID label    sessions drives total_sessions n_days_after_onboarding
   <dbl> <chr>       <dbl>  <dbl>          <dbl>                   <dbl>
 1     0 retained      283    226          297.                     2276
 2     1 retained      133    107          327.                     1225
 3     2 retained      114     95          136.                     2651
 4     3 retained       49     40           67.6                      15
 5     4 retained       84     68          168.                     1562
 6     5 retained      113    103          280.                     2637
 7     6 retained        3      2          237.                      360
 8     7 retained       39     35          176.                     2999
 9     8 retained       57     46          184.                      424
10     9 churned        84     68          245.                     2997
# ℹ 14,289 more rows
# ℹ 7 more variables: total_navigations_fav1 <dbl>,
#   total_navigations_fav2 <dbl>, driven_km_drives <dbl>,
#   duration_minutes_drives <dbl>, activity_days <dbl>, driving_days <dbl>,
#   device <chr>

In [174]:
# Calculate % of iPhone users and Android users in full dataset
df |>
    group_by(device) |>
    tally() |>
    mutate(n = n / nrow(df))

  device  n
1 Android 0.355157
2 iPhone  0.644843

In [175]:
# Calculate counts of churned vs. retained
label_count <- df |>
    group_by(label) |>
    tally() |>
    ungroup()
label_count |> print()

# A tibble: 3 × 2
  label        n
  <chr>    <int>
1 churned   2536
2 retained 11763
3 NA         700

In [176]:
# Percentages of churned and retained, excluding NAs
label_pc <- label_count |>
    filter(!is.na(label)) |>
    mutate(pc = n / sum(n)) |>
    print()

# A tibble: 2 × 3
  label        n    pc
  <chr>    <int> <dbl>
1 churned   2536 0.177
2 retained 11763 0.823

In [177]:
# Calculate median values of all columns for churned and retained users
df |>
    group_by(label) |>
    summarise(
        across(
            .cols = where(is.numeric),
            .fns = ~ median(.x)
        ),
        .groups = "drop"
    )

  label    ID     sessions drives total_sessions n_days_after_onboarding
1 churned  7477.5 59       50.0   164.3390       1321.0
2 retained 7509.0 56       47.0   157.5868       1843.0
3 NA       7443.0 56       47.5   177.2559       1650.5
  total_navigations_fav1 total_navigations_fav2 driven_km_drives
1 84.5                   11                     3652.656
2 68.0                    9                     3464.685
3 62.5                   10                     3421.157
  duration_minutes_drives activity_days driving_days
1 1607.184                 8             6
2 1458.046                17            14
3 1414.966                15            12

In [178]:
# Add a column to df called `km_per_drive`
df <- df |>
    mutate(km_per_drive = driven_km_drives / drives)
df |>
    select(label, ID, km_per_drive) |>
    head(n=10)

   label    ID km_per_drive
1  retained 0    11.63206
2  retained 1   128.18617
3  retained 2    32.20157
4  retained 3    22.83978
5  retained 4    58.09121
6  retained 5     8.74989
7  retained 6  2624.58641
8  retained 7   225.48721
9  retained 8    57.64586
10 churned  9    88.87442

In [179]:
# Group by `label`, calculate the median, and isolate for km per drive
df |>
    group_by(label) |>
    summarise(
        count = n(),
        median_km_per_drive = median(km_per_drive, na.rm = TRUE),
        .groups = "drop"
    )

  label    count median_km_per_drive
1 churned   2536 74.10942
2 retained 11763 75.01470
3 NA         700 72.28957

In [180]:
# Add a column to df called `km_per_driving_day`
# Place the new col just after km_per_drive
df <- df |>
    add_column(km_per_driving_day = df$driven_km_drives / df$driving_days, .after = "km_per_drive")
df |> select(label, ID, km_per_driving_day) |> head(n=10)

   label    ID km_per_driving_day
1  retained 0   138.36027
2  retained 1  1246.90187
3  retained 2   382.39360
4  retained 3   304.53037
5  retained 4   219.45567
6  retained 5    81.93079
7  retained 6   228.22491
8  retained 7   394.60262
9  retained 8   132.58549
10 churned  9  2014.48676

In [181]:
# Group by `label`, calculate the median, and isolate for km per driving day
stats_df <- df |>
    mutate(
        across(
            # Clean up Infs and 0s
            .cols = c("km_per_drive", "km_per_driving_day"),
            .fns = ~ ifelse(is.infinite(.x) | .x == 0, NA, .x)
        )
    ) |>
    group_by(label) |>
    summarise(
        across(
            .cols = c("km_per_drive", "km_per_driving_day"),
            .fns = list(
                mean = ~ mean(.x, na.rm = TRUE),
                median = ~ median(.x, na.rm = TRUE),
                sd = ~ sd(.x, na.rm = TRUE)
            ),
            .names = "{.col}_{.fn}"
            )
        ) |>
    ungroup() 
stats_df |> head(n=10)

  label    km_per_drive_mean km_per_drive_median km_per_drive_sd
1 churned  233.2435          73.49181            668.7489
2 retained 234.0880          74.05104            606.6236
3 NA       245.4298          71.64826            707.1470
  km_per_driving_day_mean km_per_driving_day_median km_per_driving_day_sd
1 1081.8233               523.0867                  1509.5130
2  537.2637               272.6285                   928.9727
3  550.3390               281.4644                   860.3338

In [182]:
# Add a column to df called `drives_per_driving_day`
df <- df |>
    mutate(
        drives_per_driving_day = drives / driving_days
    ) |>
    relocate(drives_per_driving_day, .after = "km_per_driving_day") # Or get index with which()

df |> select(drives_per_driving_day) |> tail(n=10)

   drives_per_driving_day
1   0.300000
2        Inf
3  20.500000
4  18.000000
5   2.192308
6   3.235294
7   1.750000
8  12.882353
9  20.000000
10  4.461538

In [183]:
# Group by `label`, calculate the median, and isolate for drives per driving day
df |>
    group_by(label) |>
    summarise(
        drives_per_driving_day_median = median(drives_per_driving_day, na.rm = TRUE), 
        .groups = "drop"
    ) |>
    ungroup()

  label    drives_per_driving_day_median
1 churned  10.000000
2 retained  4.062500
3 NA        4.577381

In [184]:
# For each label, calculate the number of Android users and iPhone users
df |>
    group_by(label, device) |>
    tally() |> # Or count()
    ungroup()

  label    device  n
1 churned  Android  891
2 churned  iPhone  1645
3 retained Android 4183
4 retained iPhone  7580
5 NA       Android  253
6 NA       iPhone   447

In [185]:
# For each label, calculate the percentage of Android users and iPhone users
df |>
  count(label, device) |>
  mutate(pc = n / sum(n), .by = label) |>
  rename(label_device_tally = n)

  label    device  label_device_tally pc
1 churned  Android  891               0.3513407
2 churned  iPhone  1645               0.6486593
3 retained Android 4183               0.3556066
4 retained iPhone  7580               0.6443934
5 NA       Android  253               0.3614286
6 NA       iPhone   447               0.6385714