# Waze (Python)

In [125]:
# Libraries
import numpy as np
import pandas as pd

Course 2 tasks:

- Import data
- Create a dataframe 
- Inspect data 
- Identify outliers
- Create a data visualization
- Share an executive summary with the Waze data team

In [126]:
df = pd.read_csv(
    r"data/waze_dataset.csv",
    header=0,
    skiprows=None
    )

In [127]:
# Check df dimensions
expected_shape = (14999, 13)
[expected_shape[i] == df.shape[i] for i in range(len(expected_shape))]

[True, True]

In [128]:
# View the top rows
df.head(n=10)

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
0,0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android
5,5,retained,113,103,279.544437,2637,0,0,901.238699,439.101397,15,11,iPhone
6,6,retained,3,2,236.725314,360,185,18,5249.172828,726.577205,28,23,iPhone
7,7,retained,39,35,176.072845,2999,0,0,7892.052468,2466.981741,22,20,iPhone
8,8,retained,57,46,183.532018,424,0,26,2651.709764,1594.342984,25,20,Android
9,9,churned,84,68,244.802115,2997,72,0,6043.460295,2341.838528,7,3,iPhone

In [129]:
# Inspect the structure
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14999 entries, 0 to 14998
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       14999 non-null  int64
 1   label                    14299 non-null  object
 2   sessions                 14999 non-null  int64
 3   drives                   14999 non-null  int64
 4   total_sessions           14999 non-null  float64
 5   n_days_after_onboarding  14999 non-null  int64
 6   total_navigations_fav1   14999 non-null  int64
 7   total_navigations_fav2   14999 non-null  int64
 8   driven_km_drives         14999 non-null  float64
 9   duration_minutes_drives  14999 non-null  float64
 10  activity_days            14999 non-null  int64
 11  driving_days             14999 non-null  int64
 12  device                   14999 non-null  object
dtypes: float64(3), int64(8), object(2)
memory usage: 1.5+ MB

In [130]:
# Isolate rows with null values
df_filtered_null = df[df.isnull().any(axis=1)]

df_filtered_null.head(n=10)

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
77,77,NaN,63,50,133.104155,783,201,0,2649.015822,1517.209970,19,13,iPhone
80,80,NaN,116,93,436.060183,1584,283,62,4183.409514,3121.889952,18,15,iPhone
98,98,NaN,78,64,583.492789,3414,0,0,1811.140893,642.189122,12,11,Android
111,111,NaN,106,102,113.379056,2228,14,0,2817.481840,2011.724274,17,13,Android
142,142,NaN,32,26,222.129310,208,55,10,2459.816477,874.427617,11,7,iPhone
162,162,NaN,3,3,17.250220,3203,22,0,11819.366330,3351.019594,3,0,iPhone
176,176,NaN,283,226,529.533944,1110,6,0,3028.601300,2489.697005,17,11,iPhone
199,199,NaN,27,23,196.839605,2800,156,0,11579.565100,3373.482562,23,18,iPhone
266,266,NaN,70,58,137.151279,3264,45,0,1305.946778,996.394443,21,18,Android
283,283,NaN,170,137,354.297662,869,18,25,3914.401147,2500.266993,3,2,Android

In [131]:
# Display summary stats of rows with null values
df_filtered_null.describe()

,ID,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
count,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000,700.000000
mean,7405.584286,80.837143,67.798571,198.483348,1709.295714,118.717143,30.371429,3935.967029,1795.123358,15.382857,12.125714
std,4306.900234,79.987440,65.271926,140.561715,1005.306562,156.308140,46.306984,2443.107121,1419.242246,8.772714,7.626373
min,77.000000,0.000000,0.000000,5.582648,16.000000,0.000000,0.000000,290.119811,66.588493,0.000000,0.000000
25%,3744.500000,23.000000,20.000000,94.056340,869.000000,4.000000,0.000000,2119.344818,779.009271,8.000000,6.000000
50%,7443.000000,56.000000,47.500000,177.255925,1650.500000,62.500000,10.000000,3421.156721,1414.966279,15.000000,12.000000
75%,11007.000000,112.250000,94.000000,266.058022,2508.750000,169.250000,43.000000,5166.097373,2443.955404,23.000000,18.000000
max,14993.000000,556.000000,445.000000,1076.879741,3498.000000,1096.000000,352.000000,15135.391280,9746.253023,31.000000,30.000000

In [132]:
# Isolate rows without null values
df_filtered_nonnull = df[~df.isnull().any(axis=1)]

df_filtered_nonnull.head(n=10)

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
0,0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android
5,5,retained,113,103,279.544437,2637,0,0,901.238699,439.101397,15,11,iPhone
6,6,retained,3,2,236.725314,360,185,18,5249.172828,726.577205,28,23,iPhone
7,7,retained,39,35,176.072845,2999,0,0,7892.052468,2466.981741,22,20,iPhone
8,8,retained,57,46,183.532018,424,0,26,2651.709764,1594.342984,25,20,Android
9,9,churned,84,68,244.802115,2997,72,0,6043.460295,2341.838528,7,3,iPhone

In [133]:
# Display summary stats of rows without null values
df_filtered_nonnull.describe()

,ID,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
count,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000,14299.000000
mean,7503.573117,80.623820,67.255822,189.547409,1751.822505,121.747395,29.638296,4044.401535,1864.199794,15.544653,12.182530
std,4331.207621,80.736502,65.947295,136.189764,1008.663834,147.713428,45.350890,2504.977970,1448.005047,9.016088,7.833835
min,0.000000,0.000000,0.000000,0.220211,4.000000,0.000000,0.000000,60.441250,18.282082,0.000000,0.000000
25%,3749.500000,23.000000,20.000000,90.457733,878.500000,10.000000,0.000000,2217.319909,840.181344,8.000000,5.000000
50%,7504.000000,56.000000,48.000000,158.718571,1749.000000,71.000000,9.000000,3496.545617,1479.394387,16.000000,12.000000
75%,11257.500000,111.000000,93.000000,253.540450,2627.500000,178.000000,43.000000,5299.972162,2466.928876,23.000000,19.000000
max,14998.000000,743.000000,596.000000,1216.154633,3500.000000,1236.000000,415.000000,21183.401890,15851.727160,31.000000,30.000000

In [134]:
# Get count of null values by device
df_null = df.groupby("device").agg(lambda x: x.isnull().sum())
df_null

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
device,,,,,,,,,,,,
Android,0,253,0,0,0,0,0,0,0,0,0,0
iPhone,0,447,0,0,0,0,0,0,0,0,0,0

In [135]:
# Calculate % of iPhone nulls and Android nulls
null_row_counts = df_null.sum(axis=1)
null_df_counts = df.isnull().sum().sum()
null_row_pc = null_row_counts / null_df_counts
null_row_pc

device
Android    0.361429
iPhone     0.638571
dtype: float64

In [136]:
# Filter out NaNs to obtain a balanced df
df_balanced = df[df.notna()]
df_balanced.head()

,ID,label,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days,device
0,0,retained,283,226,296.748273,2276,208,0,2628.845068,1985.775061,28,19,Android
1,1,retained,133,107,326.896596,1225,19,64,13715.920550,3160.472914,13,11,iPhone
2,2,retained,114,95,135.522926,2651,0,0,3059.148818,1610.735904,14,8,Android
3,3,retained,49,40,67.589221,15,322,7,913.591123,587.196542,7,3,iPhone
4,4,retained,84,68,168.247020,1562,166,5,3950.202008,1219.555924,27,18,Android

In [137]:
# Calculate % of iPhone users and Android users in full dataset
df.groupby("device")["device"].value_counts() / df.shape[0]

device
Android    0.355157
iPhone     0.644843
Name: count, dtype: float64

In [138]:
# Calculate counts of churned vs. retained
label_count = df.groupby("label")["label"].value_counts()
label_count

label
churned      2536
retained    11763
Name: count, dtype: int64

In [139]:
# Percentages of churned and retained, excluding NaNs
label_pc = label_count / label_count.sum()
label_pc

label
churned     0.177355
retained    0.822645
Name: count, dtype: float64

In [140]:
# Calculate median values of all columns for churned and retained users
df.groupby("label").median(numeric_only=True)

,ID,sessions,drives,total_sessions,n_days_after_onboarding,total_navigations_fav1,total_navigations_fav2,driven_km_drives,duration_minutes_drives,activity_days,driving_days
label,,,,,,,,,,,
churned,7477.5,59.0,50.0,164.339042,1321.0,84.5,11.0,3652.655666,1607.183785,8.0,6.0
retained,7509.0,56.0,47.0,157.586756,1843.0,68.0,9.0,3464.684614,1458.046141,17.0,14.0

In [141]:
# Add a column to df called `km_per_drive`
df["km_per_drive"] = df["driven_km_drives"] / df["drives"]
df[["label", "ID", "km_per_drive"]].head(n=10)

      label  ID  km_per_drive
0  retained   0     11.632058
1  retained   1    128.186173
2  retained   2     32.201567
3  retained   3     22.839778
4  retained   4     58.091206
5  retained   5      8.749890
6  retained   6   2624.586414
7  retained   7    225.487213
8  retained   8     57.645864
9   churned   9     88.874416

In [142]:
# Group by `label`, calculate the median, and isolate for km per drive
numeric_cols = df.select_dtypes(include="number").columns
df_median = df.groupby("label")[numeric_cols].agg("median")
df_median["count"] = df.groupby("label")["label"].value_counts()
df_median[["count", "km_per_drive"]]

          count  km_per_drive
label
churned    2536     74.109416
retained  11763     75.014702

In [143]:
# Add a column to df called `km_per_driving_day`
# Place the new col just after km_per_drive
col_loc = df.columns.get_loc("km_per_drive") + 1
df.insert(col_loc, "km_per_driving_day", df.driven_km_drives / df.driving_days)
df[["label", "ID", "km_per_driving_day"]].head(n=10)

      label  ID  km_per_driving_day
0  retained   0          138.360267
1  retained   1         1246.901868
2  retained   2          382.393602
3  retained   3          304.530374
4  retained   4          219.455667
5  retained   5           81.930791
6  retained   6          228.224906
7  retained   7          394.602623
8  retained   8          132.585488
9   churned   9         2014.486765

In [144]:
# Group by `label`, calculate the median, and isolate for km per driving day
stats_df = df.copy()
    # Clean up Infs and 0s
stats_df.replace([np.inf, 0], np.nan, inplace=True)

stats_df.groupby("label")[["km_per_drive", "km_per_driving_day"]].agg(["mean", "median", "std"])

         km_per_drive                        km_per_driving_day              \
                 mean     median         std               mean      median
label
churned    233.243488  73.491807  668.748929        1081.823347  523.086749
retained   234.087980  74.051037  606.623643         537.263665  272.628549


                  std
label
churned   1509.513013
retained   928.972690

In [145]:
# Add a column to df called `drives_per_driving_day`
df["drives_per_driving_day"] = df.drives / df.driving_days

    # Relocate the col
col_idx = df.columns.get_loc("km_per_driving_day") + 1
relocated_col = df.pop("drives_per_driving_day")
df.insert(col_idx, "drives_per_driving_day", relocated_col)

df["drives_per_driving_day"].tail(n=10)

14989     0.300000
14990          inf
14991    20.500000
14992    18.000000
14993     2.192308
14994     3.235294
14995     1.750000
14996    12.882353
14997    20.000000
14998     4.461538
Name: drives_per_driving_day, dtype: float64

In [146]:
# Group by `label`, calculate the median, and isolate for drives per driving day
df.groupby("label")["drives_per_driving_day"].agg("median")

label
churned     10.0000
retained     4.0625
Name: drives_per_driving_day, dtype: float64

In [147]:
# For each label, calculate the number of Android users and iPhone users
df.groupby(["label", "device"])[["label", "device"]].size() # Or count()

label     device
churned   Android     891
          iPhone     1645
retained  Android    4183
          iPhone     7580
dtype: int64

In [148]:
# For each label, calculate the percentage of Android users and iPhone users
df.groupby(["label", "device"]).size() / df.groupby("label").size()

label     device
churned   Android    0.351341
          iPhone     0.648659
retained  Android    0.355607
          iPhone     0.644393
dtype: float64